<header>
  <nav class="header-bottom theme1 d-none d-lg-block">
    <div class="container">
      <div class="row aligne-items-center">
        <div class="col-lg-10 offset-lg-2 d-flex flex-wrap alig-items-center position-relative">
          <ul class="main-menu d-flex">
            <li routerLinkActive="active"><a routerLink="/home">Accueil</a></li>
            <li routerLinkActive="active"><a routerLink="/shop">Boutique</a></li>
            <li routerLinkActive="active"><a>Categories</a></li>
            <li routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
            <li routerLinkActive="active"><a routerLink="/login">Connexion</a></li>
            <li routerLinkActive="active"><a routerLink="/register">Inscription</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
